[Unit]
Description=NationBot Discord Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/root/Git/NationBot/startBot.sh
TimeoutSec=infinity
Restart=always

[Install]
WantedBy=multi-user.target
